<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <title>Dalaran</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!-- font awesome 核心 CSS 文件 -->
    <link href="http://cdn.bootcss.com/font-awesome/3.0.0/css/font-awesome.css" rel="stylesheet">

    <!-- favicon -->
    <link rel="icon" href="images/favicon/tower.ico">

    <!-- some styling for sidbar & contents -->
    <link rel="stylesheet" href="css/home.css">
</head>

<body>

    {{{body}}}
    
</body>

</html>